;;check link -P
(setq inferior-lisp-program "gcl")
(add-to-list 'load-path "~/.emacs.d/")
(autoload 'php-mode "php-mode" "Major mode for editing php code." t)
(autoload 'zephir-mode "zephir-mode" "Major mode for editing zephir code." t)
(add-to-list 'auto-mode-alist '("\\.php$" . php-mode))
(add-to-list 'auto-mode-alist '("\\.inc$" . php-mode))
(add-to-list 'auto-mode-alist '("\\.phtml$" . php-mode))
(add-to-list 'auto-mode-alist '("\\.zep$" . zephir-mode))
(add-to-list 'auto-mode-alist '("\\.json$" . javascript-mode))
;;extend my php-keyset
(add-hook 'php-mode-hook
          (lambda ()
	    (global-set-key (kbd "ESC <C-return>") 
			    (lambda ()
			      (interactive)
			      (setq varname (read-string "input object or class :"))
			      (insert (format "\necho '<pre>';\nvar_dump(get_class_methods(%s));\necho '</pre>';\n" varname))
			      ))
	    (global-set-key (kbd "M-RET") 
			    (lambda ()
			      (interactive)
			      (setq varname (read-string "input vars :"))
			      (insert (format "\necho '<pre>';\nvar_dump(%s);\necho '</pre>';\n" varname))
			      ))
	    (global-set-key (kbd "C-: C-p") 
			    (lambda ()
			      (interactive)
			      (setq varname (read-string "auto generate var define, Input var name :"))
			      (insert (format "/**\n *\n * @api\n * @var \n * @link\n */\n    public $%s = ;\n" varname varname))
			      ))
	    (global-set-key (kbd "C-: C-o") 
			    (lambda ()
			      (interactive)
			      (setq funcname (read-string "auto generate function define, Input function name :"))
			      (insert (format "/**\n * \n * @api\n * @param   \n * @param    \n * @return\n * @link\n */\n    public function %s () {\n\n    }\n" funcname funcname))
			      ))
	    (global-set-key (kbd "C-: C-;")
			    (lambda ()
			      (interactive)
			      (setq input (read-string "class define, Input class name :"))
			      (setq extend (read-string "input {ParentClassName} if Class extends from AnyClass, or enter else:"))
			      (setq class-tuple (split-string input "\\."))
			      (setq class-name (car (last class-tuple)))
			      (if (equal extend "")
				  (setq class-extend "")
				  (setq class-extend (format " extends %s" extend))
				)
			      (setq class-name-tuple (split-string class-name "<"))
			      (setq name-replace (format ".%s$" class-name))
			      (setq class-namespace (replace-regexp-in-string name-replace "" input))
			      (insert (format "/**\n * %s\n *\n * myFramework : Origin Framework by Chen Han https://github.com/gpgkd906/framework\n *\n * Copyright %s Chen Han\n *\n * Licensed under The MIT License\n *\n * @copyright Copyright %s Chen Han\n * @link\n * @since\n * @license http://www.opensource.org/licenses/mit-license.php MIT License\n */\n/**\n * %s\n * \n *\n * @author %s Chen Han \n * @package framework.\n * @link \n */\nnamespace %s;\n\nclass %s %s\n{\n\n}" class-name (format-time-string "%Y") (format-time-string "%Y") class-name (format-time-string "%Y") class-namespace class-name class-extend))
			      ))
	    (global-set-key (kbd "C-: TAB") 
			    (lambda ()
			      (interactive)
			      (let ((inputed-tuple (split-string (read-string "insert for (v[ar]/f[unc]/c[lass]/p[ackage])[:name]? ") ":")))
				(setq mode (car inputed-tuple))
				(setq name (cadr inputed-tuple))
				(cond ((null mode)
				       (message "nothing inputed!"))
				      ((equal mode "v")
				       (insert (format "/**\n	*\n	 * @api\n	 * @var \n * @link\n	 */\n" name)))
				      ((equal mode "f")
				       (insert (format "/**\n	 * \n	 * @api\n	 * @param   \n	 * @param    \n	 * @return\n	 * @link\n	 */\n" name)))
				      ((equal mode "c")
				       (insert (format "/**\n * %s\n * \n *\n * @author %s Chen Han \n * @package framework.\n * @link \n */\n" name (format-time-string "%Y"))))
				      ((equal mode "p")
				       (insert (format "/**\n * %s\n *\n * myFramework : Origin Framework by Chen Han https://github.com/gpgkd906/framework\n *\n * Copyright %s Chen Han\n *\n * Licensed under The MIT License\n *\n * @copyright Copyright %s Chen Han\n * @link\n * @since\n * @license http://www.opensource.org/licenses/mit-license.php MIT License\n */\n" name (format-time-string "%Y") (format-time-string "%Y"))))
				      (t nil)
				      ))))
            ))
;;extend my js-keyset
(add-hook 'js-mode-hook
	  ;;keyset for jsduck
	  (lambda ()
	    (global-set-key (kbd "ESC <C-return>") 
			    (lambda ()
			      (interactive)
			      (setq varname (read-string "input object name :"))
			      (insert (format "for (var property in %s) {\n    if (%s.hasOwnProperty(property)) {\n        if (typeof %s[property] === 'function') {\n            console.log(property, ':', %s[property]);\n        }\n    }\n}" varname varname varname varname))
			      ))
	    (global-set-key (kbd "M-RET") 
			    (lambda ()
			      (interactive)
			      (setq varname (read-string "input vars :"))
			      (insert (format "\nconsole.log(%s)\n" varname))
			      ))
	    (global-set-key (kbd "C-: C-p") 
			    (lambda ()
			      (interactive)
			      (setq varname (read-string "auto generate var define, Input var name :"))
			      (insert (format "/**\n * @member \n * @property %s\n * @type {}\n * @private\n * @since\n * \n */\n %s: ,\n\n" varname varname))
			      ))	   
 	    (global-set-key (kbd "C-: C-o") 
			    (lambda ()
			      (interactive)
			      (setq func-name (read-string "auto generate function define, Input function name :"))
			      (insert (format "/**\n * @method %s\n * @private\n * @since\n * \n * @param {} \n * \n * @return {} \n */\n %s: function() {\n\n}" func-name func-name))
			      ))
	    (global-set-key (kbd "C-: C-;") 
			    (lambda ()
			      (interactive)
			      (setq module-name (read-string "module define, Input module name :"))
			      (insert (format "\n/**\n * @singleton\n * @aside guide %s\n * @author Copyright %s Chen Han. All rights reserved\n *\n * @description\n *\n * ## Examples\n * ###\n * @example\n */\n" module-name (format-time-string "%Y")))
			      ))
	    (global-set-key (kbd "C-: TAB") 
			    (lambda ()
			      (interactive)
			      (let ((inputed-tuple (split-string (read-string "insert for (v[ar]/f[unc]/c[lass])[:name]? ") ":")))
				(setq mode (car inputed-tuple))
				(setq name (cadr inputed-tuple))
				(cond ((null mode)
				       (message "nothing inputed!"))
				      ((equal mode "v")
				       (insert (format "/**\n * @member \n * @property %s\n * @type {}\n * @private\n * @since\n * \n */\n" name)))
				      ((equal mode "f")
				       (insert (format "/**\n * @method %s\n * @private\n * @since\n * \n * @param {} \n * \n * @return {} \n */\n" name)))
				      ((equal mode "c")
				       (insert (format "\n/**\n * @singleton\n * @aside guide %s\n * @author Copyright (c) %s Chen Han. All rights reserved\n *\n * @description\n *\n * ## Examples\n * ###\n * @example\n */\n(function (root, factory) {\n  if (typeof exports === 'object') {\n      factory(exports);\n  } else if (typeof define === 'function' && define.amd) {\n      define(['exports'], factory);\n  } else {\n      factory(root);\n  }\n} (this, function (exports) {\n    var %s = {\n\n    };\n    exports.%s = %s;\n    return $s;\n}));" name (format-time-string "%Y") name name name name)))
				      ;;(insert (format "\n/**\n * @singleton\n * @aside guide %s\n * @author Copyright (c) %s Chen Han. All rights reserved\n *\n * @description\n *\n * ## Examples\n * ###\n * @example\n */\n" name (format-time-string "%Y"))))
				      (t nil)
				      ))))
	    ))

(setq tab-width 4)
(setq indent-tabs-mode t)
(setq c-basic-offset 4)
(c-set-offset 'case-label' 4)
(c-set-offset 'arglist-intro' 4)
(c-set-offset 'arglist-cont-nonempty' 4)
(set-background-color "black")
(set-foreground-color "white")
(set-face-foreground 'region "green")
(set-face-background 'region "blue")
(set-default-font "Monospace 12")


